img{
  width: 100%;
}
.single-card{
  margin: 25px 20px;
}
.description>*{
  margin-top: 5px;
}
.add{
  margin-top: 10px;
}
i.fa-trash, i.fa-pen-to-square{
  color: var(--blue-nav);
}
i.fa-trash:hover, i.fa-pen-to-square:hover{
  color: var(--blue-dark);
}
.i-edit{
  padding-right: 10px;
}
