<ng-container *ngIf="visibility && card">
  <div id="myModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <img class="col-3 col-md-4 col-sm-5 col-xs-12" src="{{ card.image }}" alt="">
      <div class="offset-1 col-8 col-md-7 col-sm-6 col-xs-12">
        <h3>{{ card.name }}</h3>
        <div class="mrg-top">{{ card.set }}</div>
        <div class="mrg-top">{{ card.rarity }}</div>
      <div class="mrg-top">
        <span *ngFor="let color of card.colors"><i class="fa-solid fa-circle {{color}}"></i></span>
      </div>
      <div class="mrg-top">
        <app-card-form (sendPrice)="takePrice($event)"></app-card-form>
      </div>
      <div>
        <button class="btn btn-red btn-section pointer" (click)="close()">CHIUDI</button>
      </div>
      </div>
    </div>
  </div>
</div>
</ng-container>

