.dashboard-nav{
  height: 100%;
}
.dashboard-nav>ul{
  height: 100%;
}
ul>li{
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
}
ul>li:nth-of-type(2){
  position: relative;
}
ul>li:nth-of-type(2)>div{
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  background-color: var(--blue-nav);
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* display: none; */
}
ul>li:nth-of-type(2)>div>div{
  padding: 10px 15px;
}
li a{
  color: #fff;
}
ul>li:hover{
  background-color: var(--blue-dark);
}
ul>li:nth-of-type(2)>div>div:hover{
  background-color: var(--blue-dark);
}
.blue-dark{
  background-color: var(--blue-dark);
}
.blue-nav{
  background-color: (--blue-nav);
}
