.dashboard-nav{
  height: 100%;
}
.dashboard-nav>ul{
  height: 100%;
}
ul>li{
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
}
li>a{
  color: #fff;
}
ul>li:hover{
  background-color: var(--blue-dark);
}
.blue-dark{
  background-color: var(--blue-dark);
}
.blue-nav{
  background-color: (--blue-nav);
}
